.avis-reseaux-newsletter-1 {
  display: flex;
  justify-content: space-between;
}

.reseaux-sociaux {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  width: 366px;
}

.reseaux-sociaux li {
  display: inline;
  padding: 10px;
  padding-left: 0px;
}

.reseaux-sociaux p {
  font-weight: 550;
  color: #172B2C;
  padding-bottom: 10px;
}

#reseaux {
  margin: 0 auto;
}

.bloc-texte-newsletter {
  display: flex;
  flex-direction: column;
  width: 366px;
}

.bloc-newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 50px;
  border-width: 1px ;
  border-color: darkgrey;
  border-style: solid;
  padding-left: 15px;
  margin: auto 0px;
}

.bloc-newsletter i {
  padding-right: 15px;
  color: darkgrey;
  font-size: 25;
}

.bloc-texte-avis {
  display: flex;
  flex-direction: column;
  width: 366px;
}

.bloc-texte-avis p {
  font-weight: 550;
  color: #B11E65;
  padding-bottom: 10px;
}

.bloc-newsletter input {
  width: 335px;
  height: 50px;
  border-color: rgb(255 255 255 / 30%);
  color: darkgrey;
}

#image-avis {
  margin: 0 auto;
  width: 200;
}

Mettre des marges à la photo avis
margin: 0 auto;
width: 200;

Mettre à bloc texte avis et aux autres
width: 366;
