.barre-recherche {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  border-width: 1px ;
  border-color: darkgrey;
  border-style: solid;
}

.barre-recherche i {
  padding-right: 15px;
  color: darkgrey;
  font-size: 25;
}

.barre-recherche input {
  width: 335px;
  height: 50px;
  border-color: rgb(255 255 255 / 30%);
  color: darkgrey;
}
