.catégorie-produit-1 {
  display: flex;
  margin-top: 50px;
}

.bloc-pano-peinture {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catégorie-papier-peint {
  background-image: url("../images/papier-peint-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 540px;
  position: relative;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.catégorie-papier-peint a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.catégorie-panoramique {
  background-image: url("../images/papier-peint-2.jpeg");
  background-size: cover;
  background-position: center;
  height: 265px;
  width: 540px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.catégorie-panoramique a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.catégorie-peinture {
  background-image: url("../images/papier-peint-3.jpeg");
  background-size: cover;
  background-position: center;
  height:265px;
  width: 540px;
  position: relative;
  display: flex;
  justify-content: center;
}

.catégorie-peinture a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.catégorie-produit-2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.catégorie-tissu {
  background-image: url("../images/papier-peint-4.jpeg");
  background-size: cover;
  background-position: center;
  height:353px;
  width: 353px;
  position: relative;
  display: flex;
  justify-content: center;
}

.catégorie-tissu a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.catégorie-frise {
  background-image: url("../images/papier-peint-5.jpeg");
  background-size: cover;
  background-position: center;
  height:353px;
  width: 353px;
  position: relative;
  display: flex;
  justify-content: center;
}

.catégorie-frise a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.catégorie-décoration {
  background-image: url("../images/papier-peint-6.jpeg");
  background-size: cover;
  background-position: center;
  height:353px;
  width: 353px;
  position: relative;
  display: flex;
  justify-content: center;
}

.catégorie-décoration a {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

.bouton {
  background-color: white;
  color: #1B393A;
  padding: 5px 20px;
  width: fit-content;
}

.bouton:hover {
  background-color: #9E2656;
  color: white;
}
